.name-container {
  display: flex;
  width: 50%;
  justify-content: space-between; 
  margin: 0 auto;
  
}

.form-name {
  display: flex;
  flex-direction: column;
}

body {
 text-align: center; 
 width: 50vw;
 margin: 0 auto;
}